// Place all the styles related to the api/order_lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dark-overlay {
    z-index: 5;
    position: absolute;
    background-color: black;
    opacity: 0.2;
    width: 95.8rem;
}

.add-button {
    margin: 1rem 0 1rem 1rem;
    background: #3ad62b;
}

.ol-form-container {
    background-color: transparent;
    padding: 0;
    > h4 {
        text-align: center;
    }
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        display: flex;
        align-items: center;
        height: 3rem;
    }
}

.section-container {
    width: 96rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 2rem;
    margin: 2rem 0;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: .8rem;
    border-bottom-left-radius: .8rem;
    background-color: #F0F0F0;
    padding: 1rem 2rem;

    * {
        margin: .5rem;
    }

    input, select {
        width: 100%;
    }

    &__title {
        text-align: center;
        background-color: #d5d5d5;
        width: 100%;
        border-top-right-radius: .8rem;
        border-top-left-radius: .8rem;
    }

    &__left-section {
        grid-row: 1 / 3;
    }

    &__racket-section {
        height: 48rem;
    }

    &__strings-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__main {
            width: 100%;
            margin-bottom: 2rem;
        }

        &__cross {
            width: 100%;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.edit-racket-order {
    width: 34rem;
    height: 29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.racket-dropdowns {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.racket-order-image {
    background-color: white;
    height: 22rem;
    width: 22rem;
    display: flex;
    justify-content: center;

    img {
        height: 100%;
        margin: 0;
    }
}

.edit-racket-order-image {
    background-color: white;
    height: 18rem;
    width: 18rem;
    display: flex;
    justify-content: center;

    img {
        height: 100%;
        margin: 0;
    }
}

#ol-button {
    height: 3rem;
    padding: .2rem .5rem;
    margin: .5rem;
    border-radius: .4rem;

    &:focus {
        outline: 0;
    }
}

.ReactTable .rt-noData {
    display: none;
}

.trash-icon {
    height: 1.8rem;
    width: 1.8rem;
}

.ol-index-item {
    display: flex;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: .5rem 2rem;
    margin-bottom: 1rem;
}

.racket-info-container {
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.racket-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ol-racket-title {
    text-align: center;
}

.ol-racket-image {
    height: 12rem;
}

.string-info {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: .5rem 0 .5rem 4rem;
    background-color: #F0F0F0;
    border-radius: .6rem;
    padding: 1rem 2rem;

    h4 {
        margin-bottom: .5rem;
    }

    h5 {
        margin: .5rem 0;
    }

    h6 {
        margin: .2rem 0;
    }
}

.delete-line-button {
    margin-left: 2rem;
    height: 2.6rem;
    border-radius: .5rem;

    &:focus {
        outline: 0;
    }
}

.ol-edit-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        margin: .5rem 2rem;
    }
}

.ol-form-buttons {
    display: flex;
    justify-content: center;
}
