// Place all the styles related to the api/order_lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.order-lines-table {
  background: white;
}

.add-button {
  margin: 10px 0px 10px 10px;
  background: $lime-green;
}

.ol-form-container {
  background: white;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 20px;
}

.order-line-form {
  // width: 800px;
  // border-radius: 5px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    display: flex;
    align-items: center;
    height: 30px;
  }
}

.section-container {
  display: flex;
  justify-content: space-around;
}

.section-title {
  text-align: center;
  background-color: $mid-grey;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.racket-section-title {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: $light-grey;
  margin-bottom: 15px;
  padding: 10px 20px;
  * {
    margin: 5px;
  }
  input {
    width: 100%;
  }
}

.strings-sections .racket-section {
  display: flex;
  flex-direction: column;
}

.lower-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.racket-order {
  width: 340px;
  height: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-order .cross-order {

}

.racket-dropdowns {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.racket-order-image {
  background-color: white;
  height: 220px;
  width: 220px;
  display: flex;
  justify-content: center;
  img {
    height: 100%;
    margin: 0;
  }

}

.ol-button {
  height: 30px;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 4px;
  &:focus {
    outline: 0;
  }
}

.ReactTable .rt-noData {
  display: none;
}

.trash-icon {
  height: 18px;
  width: 18px;
}

.ol-index-item {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $mid-light-grey;
  padding: 5px 20px;
}

.racket-info-container {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.racket-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ol-racket-title {
  text-align: center;
}

.ol-racket-image {
  height: 120px;
}

.string-info {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 5px 0 5px 40px;
  background-color: $light-grey;
  border-radius: 6px;
  padding: 10px 20px;
  h4 {
    margin-bottom: 5px;
  }
  h6 {
    margin: 2px 0;
  }
}

.delete-line-button {
  margin-left: 20px;
  height: 26px;
  border-radius: 5px;
  &:focus {
    outline: 0;
  }
}

.order-line-buttons {
  display: flex;
  justify-content: center;
}

#green-button {
  color: black;
  background-color: $lime-green;
  &:hover {
    background-color: $green;
  }
  &:active {
    background-color: $dark-green;
  }
}

#cancel-button {
  &:hover {
    background-color: $light-grey;
  }
  &:active {
    background-color: $mid-grey;
  }
}
