// Place all the styles related to the api/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Orders Index

@import "abstracts/variables";

.orders-container {
    width: 100rem;
}

.table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: #d5d5d5;
    width: 100%;
    height: 4rem;

    button {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 2.2rem;
        align-self: center;
    }

    .empty-div {
        width: 5rem;
    }
}

.orders-table {
    width: 100%;
    background: white;
}

.order-detail-container {
    padding: 2rem;
    background: #e8e8e8;
}

.ReactTable .-pagination .-pageInfo {
    display: flex;
    align-items: center;

    * {
        margin: .5rem;
    }
}

//Order form

.order-form-container {
    width: 55rem;
}
.order-form {
    .customer-input {
        font-size: 1.8rem;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    button {
        width: 75%;
    }
    > * {
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

.customer-comments {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 1rem;
    color: #949494;
}

.search {
    input {
        color: black;
        width: 100%;
        background-color: #F0F0F0;
        font-size: 1.6rem;
        padding: 1rem 1.5rem;
        text-align: center;
        border-radius: 1rem;
        margin-top: 2rem;
    }

    &__name {
        margin: .3rem;
    }

    &__results {
        position: relative;
        top: .5rem;
        background-color: $white;
        width: 29rem;
        max-height: 20rem;
        overflow: scroll;
        border: 1px solid #F0F0F0;
        border-radius: .3rem;
        z-index: 3;
        text-align: left;
        box-shadow: .2rem .4rem 1rem rgba(0, 0, 0, 0.09);

        &__item {
            padding: .4rem 1rem;

            &:hover {
                background-color: $light-grey;
            }
        }
    }
}

.customer-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.add-line-button {
    width: 10rem;
}

//Order Detail form

.order-detail-form {
    width: 100rem;
    background: #fafafa;
    padding: 2rem;

    h5 {
        margin: .5rem;
    }
}

.order-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__customer-info {
        font-size: 1.8rem;
        width: 45rem;
        background-color: #F0F0F0;
        padding: .5rem;
        border-radius: .3rem;
        margin: 1.5rem 0;
    }

    &__comments {
        width: 100%;
        height: 6rem;
        padding: 1rem;
        border-radius: .3rem;
        margin-bottom: 1.5rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;

        > * {
            margin: 0 1rem;
        }
    }
}

.status-options {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#edit-customer-button {
    margin-left: 1.5rem;
    width: 15rem;
}

#pending-label {
    margin-left: 2rem;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
}

#picked-up-label {
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    margin-right: 4rem;
}

//
#cancelled-label {
    border-radius: .8rem;
    border: 1px solid #747474;
}

.customer-order-status-container {
    display: flex;
    align-items: center;
}

.status-option, .customer-status-option {
    display: flex;
    align-items: center;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 2.4rem;
        border-radius: 1px solid #d5d5d5;
    }

    input + label {
        background-color: #dbfafe;
    }

    input {
        visibility: hidden;
        width: 0;
        background-color: #dbfafe;
    }

    input:checked + label {
        font-weight: bold;
        color: white;
        background-color: #00BFFF;
        z-index: 6;
    }
}

.status-option {
    label:hover {
        font-weight: bold;
        color: white;
        background-color: #87CEFA;
    }
}

.cancel-order {
    display: flex;
    align-items: center;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 2.4rem;
    }

    input + label {
        background-color: white;
    }

    input {
        visibility: hidden;
        width: 0;
    }

    input:checked + label {
        font-weight: bold;
        color: white;
        background-color: red;
        z-index: 6;
    }

    input:checked + label:after {
        content: "Cancelled";
    }

    input + label:after {
        content: "Cancel Order";
    }

    label:hover {
        font-weight: bold;
        color: white;
        background-color: red;
    }
}

.status-option-container {
    display: flex;
    align-items: center;
}

.comments-container {
    display: flex;
    align-items: center;

    button {
        margin-left: 1.5rem;
    }
}

.comments-info {
    display: flex;
    flex-direction: column;

    button {
        width: 15rem;
    }
}

.textbox {
    width: 30rem;
    min-height: 3.5rem;
    border: 1px solid #F0F0F0;
    border-radius: .6rem;
    padding: 1rem;
    margin-left: 1.5rem;
    resize: none;
}

.greybox {
    color: black;
    background: #e8e8e8;
    border: none;
}

.udpate-comment-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-info {
    display: flex;
    flex-direction: column;

    h6 {
        margin: .2rem 0 .2rem 1.5rem;
    }
}

.detail-title {
    margin: .5rem 0;
}

#center {
    text-align: center;
}
