// Place all the styles related to the api/order_lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.order-lines-table {
  background: white;
}

.order-line-item {
  display: flex;
}

.racket-info {

}

.cords-info {
  display: flex;
  flex-direction: column;
}

.add-button {
  margin: 10px 0px 10px 10px;
  background: $lime-green;
}

.ol-form-container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.order-line-form {
  width: 800px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    margin: 5px;
  }
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    display: flex;
    align-items: center;
    height: 30px;
  }
}

.items-forms {
  display: flex;
  flex-direction: column;
}

.ol-button {
  height: 30px;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 4px;
  &:focus {
    outline: 0;
  }
}

.ReactTable .rt-noData {
  display: none;
}

.trash-icon {
  height: 18px;
  width: 18px;
}

#green-button {
  color: black;
  background-color: $lime-green;
  &:hover {
    background-color: $green;
  }
  &:active {
    background-color: $dark-green;
  }
}

#cancel-button {
  &:hover {
    background-color: $light-grey;
  }
  &:active {
    background-color: $mid-grey;
  }
}
