// Place all the styles related to the api/rackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.racket-index-container {
    display: flex;
    flex-wrap: wrap;
    width: 90rem;
    min-height: 50rem;
    background-color: #fafafa;
    margin: auto;
    border-bottom-right-radius: .8rem;
    border-bottom-left-radius: .8rem;
}

.racket-index-title {
    text-align: center;
    background-color: #e8e8e8;
    width: 90rem;
    margin: auto;
    border-top-right-radius: .8rem;
    border-top-left-radius: .8rem;
}

.racket-item {
    margin: .5rem;
    padding: .5rem;
    background: white;
    width: 17rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.racket-image {
    width: 10rem;
    height: 15rem;
    display: flex;
    justify-content: center;

    img {
        height: 100%;
    }
}

// Racket Form

.racket-form {
    width: 30rem;

    input, select {
        width: 100%;
        margin-bottom: 1rem;
    }
}
