// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

 .nav-login-form {
   display: flex;
   align-items: center;
   input {
     margin: 5px;
     height: 26px;
   }
   .button {
     height: 26px;
   }
   img {
     margin: 0 10px;
   }
 }

.spacing-container {
  height: 60px;
  margin-bottom: 60px;
}

.small-spacing-container {
  height: 20px;
  margin-top: 20px;
}

.loading-spacing-container {
  height: 50px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form-box {
  width: 320px;
  padding: 0 40px 20px 40px;
  border: 1px solid #F0F0F0;
  text-align: center;
  background-color: white;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.form-title {
  font-family: 'Questrial', sans-serif;
  color: black;
  margin-top: 20px;
  text-align: center;
}

.demo-login {
  width: 320px;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid #F0F0F0;
  text-align: center;
  background-color: white;
}

#demo-login-button {
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 5px;
  height: 30px;
  width: 210px;
}

.logout-button {
  margin-left: 20px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #bcbcbc;
  border-radius: 6px;
  cursor: pointer;

  &:active {
    color: #F0F0F0;
    border: 1px solid #F0F0F0;
    background-color: #fafafa;
    border-radius: 6px;
  }

  &:hover {
    background-color: #747474;
  }
}
