// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Customer Form

.customer-form-box {
  background-color: white;
  width: 500px;
  padding: 20px;
}
