// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

// Customer Form

.customer-form-box {
  background-color: #fafafa;
  width: 500px;
  padding: 0 40px;
  border-radius: 8px;
  label {
    font-weight: bold;
  }
  input {
    font-size: 16px;
  }
  textarea {
    background-color: #fafafa;
  }
}

#customer-form-button {
  margin: 10px 0;
}

.user-profile-container {
  margin: auto;
  font-size: 18px;
  width: 560px;
  height: 100%;
}

.user-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.user-posts-container {
 width: 100%;
 display: flex;
 flex-direction: column;
}

.profile-pic-container {
 display: flex;
 float: left;
 justify-content: center;
 flex-grow: 2;
}

.profile-pic {
 width: 120px;
 height: 120px;
 background-color: white;
 border-radius: 60px;
}
#profile-pic {
 width: 100%;
 height: 100%;
 border-radius: 50%;
}

.user-info {
 float: right;
 display: flex;
 flex-direction: column;
 flex-grow: 3;

 > div {
   margin-bottom: 20px;
 }
}

.username {
 font-size: 32px;
 display: flex;
 align-items: center;
}

.user-stats {
 display: flex;
 flex-direction: column;

 h5 {
   margin: 5px 0;
 }
}

.edit-button {
 margin-left: 20px;
 height: 32px;
 font-size: 14px;
 background-color: #fafafa;
 border-radius: 6px;
 cursor: pointer;

 &:active {
   color: #F0F0F0;
   border: 1px solid #F0F0F0;
   border-radius: 6px;
 }

 &:hover {
   background-color: #d5d5d5;
 }
}

.logout-button {
 margin-left: 20px;
 height: 32px;
 font-size: 14px;
 color: white;
 background-color: #bcbcbc;
 border-radius: 6px;
 cursor: pointer;

 &:active {
   color: #F0F0F0;
   border: 1px solid #F0F0F0;
   background-color: #fafafa;
   border-radius: 6px;
 }

 &:hover {
   background-color: #747474;
 }
}

// Users Show

.customer-search-container {
  width: 560px;
  height: 220px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  .or {
    margin: 15px 0;
  }
  button {
    height: 30px;
  }
}

#admin-create-customer-button {
  width: 280px;
}

// Edit customer

#update-customer-button, #cancel-edit-customer-button {
  width: 160px;
  height: 26px;
}

.customer-edit-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-user-title {
  margin-top: 20px;
}
