// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Customer Form

.customer-form {
    width: 40rem;
    margin-bottom: 0;

    input:not(:last-child) {
        margin-bottom: 1rem;
    }

    textarea {
        margin-bottom: 2rem;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 18rem;
        }
    }
}

// Users Show

.profile-page {
    margin: 0 auto;
    font-size: 1.8rem;
    width: 56rem;
    height: 100%;
}

.user-profile {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    &__photo {
        height: 16rem;
        width: 16rem;
        background-color: white;
        border-radius: 10rem;
        margin-right: 8rem;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__info {
        width: 26rem;
        display: flex;
        flex-direction: column;

        > div {
            margin-bottom: 2rem;
        }

        &__username {
            font-size: 3.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
                margin-right: 2rem;
            }
        }

        &__contact {
            display: flex;
            flex-direction: column;

            h5 {
                margin: .6rem 0;
            }
        }

    }
}

// Users Search

.customer-search-container {
    width: 56rem;
    height: 22rem;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .8rem;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    .or {
        margin: 1.5rem 0;
    }

    input {
        width: 28rem;
    }

    button {
        height: 3rem;
        width: 28rem;
    }
}

// Edit customer

.customer-edit-btn {
    width: 16rem;
    height: 2.6rem;
}

.customer-edit-buttons {
    display: flex;
    justify-content: space-between;

    button {
        width: 16rem;
    }
    button:not(:last-child) {
        margin-right: .5rem;
    }
}

.edit-user-title {
    margin-top: 2rem;
}
