<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
      Your order at Tennis Center is ready for pickup.<br>
    </p>
    <p>Thanks for choosing us and see you soon!</p> <br />
    <p> - The Tennis Center team.
  </body>
</html>
