<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <img src=<%= image_url('string-it-logo-email.png') %> />
  </head>
  <body>
    <h3>Hi <%= @user.name %>,</h3>
    <p>
      Your order at Tennis Center is ready for pickup.
    </p>
    <p>
      Thanks for choosing us and see you soon!
    </p>
    <br />
    <p> - The Tennis Center team.
  </body>
</html>
