.footer {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4rem;
    align-items: center;
    background: #333;
    background: -webkit-gradient(radial, center center, 120, center center, 900, from(#33495E), to(#2E2329));
    background: -moz-radial-gradient(circle, #33495E, #2E2329);
    height: 20rem;
    z-index: 3;

    &__logo {
        height: 4rem;
        position: relative;
        left: -1.5rem;
        z-index: 2;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 10rem;
        margin-left: 5vw;

        a {
            color: white;

            &:hover {
                color: #acabab;
                text-decoration: none;
            }
        }
    }

    &__icons {
        a {
            font-size: 2.5rem;
            margin-right: 2rem;
            color: white;
            text-decoration: none;

            &:hover {
                color: #acabab;
            }
        }
    }
}
