@import "abstracts/variables";

.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 1rem;
        display: inline-block;
        border-radius: .4rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 .5rem 1rem rgba($black, 0.2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 .2rem .5rem rgba($black, 0.2);
    }

    &--white {
        background-color: $white;
        color: $grey-dark;
    }

    &--grey {
        background-color: $mid-grey;
        color: $grey-dark;

        &:hover {
            color: $white;
            background-color: $grey-dark-2;
        }
    }

    &--green {
        background-color: $dark-green;
        color: $white;
    }

    &--blue {
        background-color: $blue;
        color: $white;
    }
}

.add-new-btn {
    position: absolute;
    top: 8rem;
    right: 2rem;
    color: $white;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    font-weight: bold;
    background-color: $lime-green;

    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: $green;
    }

    &:active {
        background-color: $dark-green;
    }
}
