.email-header {
    background: #333;
    background: -webkit-gradient(radial, center center, 120, center center, 900, from(#33495E), to(#2E2329));
    background: -moz-radial-gradient(circle, #33495E, #2E2329);
    width: 100%;
    height: 8rem;
}

.email-logo {
    height: 100%;
}
