@import "abstracts/variables";

.form-container {
    display: inline-block;
    background-color: white;
    padding: 2rem 4rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;

    &__title {
        font-family: 'Questrial', sans-serif;
        color: black;
        text-align: center;
    }
}

.login-form {
  width: 25rem;
}

.demo-login {
    width: 32rem;
    padding: 2rem;
    margin-top: 1rem;
    border: 1px solid #F0F0F0;
    text-align: center;
    background-color: white;
}

#demo-login-button {
    border-radius: .3rem;
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    margin: .5rem;
    height: 3rem;
    width: 21rem;
}

.logout-button {
    margin-left: 2rem;
    height: 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    background-color: #bcbcbc;
    border-radius: .6rem;
    cursor: pointer;

    &:active {
        color: #F0F0F0;
        border: 1px solid #F0F0F0;
        background-color: #fafafa;
        border-radius: .6rem;
    }

    &:hover {
        background-color: #747474;
    }
}
