.service-anim {
  position: relative;
  animation: slides 4s ease-in-out infinite;
}

.welcome-anim {
  position: relative;
  animation: fadein 2s ease-in-out;
}

.order-detail-container {
  position: relative;
  animation: pullDown 1.5s ease-out;
  transform-origin: 50% 0%;
}

@keyframes fadein {
  0%   { top:-20px; opacity: 0; }
  50%  { top:0px; opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes slides {
  0%   { top:-10px; opacity: 0; }
  15%  { top: 0px; opacity: 1; }
  85%  { top: 0px; opacity: 1; }
  100% { top:10px; opacity: 0; }
}
