/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

body, html {
  height: 100%;
  margin: 0;
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

input[type="text"]:disabled {
  color: #bcbcbc;
}

textarea:disabled {
  color: #bcbcbc;
  border: #bcbcbc;
  resize: none;
}

textarea::placeholder {
  color: #bcbcbc;
}

body {
  // background: url("gradient.svg") fixed no-repeat;
  // background-size: cover;
  background: #F0F0F0;
}

nav {
  // background: url("gradient.svg") fixed no-repeat;
  // background-size: cover;
  background:#333;
  background: -webkit-gradient(radial, center center, 120, center center, 900, from(#33495E), to(#2E2329));
  background:-moz-radial-gradient(circle, #33495E, #2E2329);
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  box-shadow: 10px 0px 10px 10px rgba(0,0,0,0.2);
  z-index: 7;
}

input {
  background-color: #fafafa;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  border: 1px solid #F0F0F0;
}

textarea {
  padding: 10px;
}

.hidden {
  display: none;
}

.errors {
  color: red;
  text-align: center;
  margin: 5px 0;
}

.button {
  &:hover {
    background-color: #F0F0F0;
  }
  &:active {
    background-color: #d5d5d5;
  }
  &:focus {
    outline: 0;
  }
}

#login-button, #nav-login-button {
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
}

#demo-button {
  width: 100px;
  height: 26px;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
}

.green-button {
  background-color: $lime-green;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: bold;
  &:hover {
    background-color: $green;
  }
  &:active {
    background-color: $dark-green;
  }
  &:focus {
    outline: 0;
  }
}

.blue-button {
  background-color: $blue;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: bold;
  &:hover {
    background-color: $mid-dark-blue;
  }
  &:active {
    background-color: $dark-blue;
  }
  &:focus {
    outline: 0;
  }
}

.grey-button {
  border-radius: 5px;
  padding: 5px;
  color: black;
  &:hover {
    background-color: $light-grey;
  }
  &:active {
    background-color: $mid-grey;
  }
  &:focus {
    outline: 0;
  }
}

.logo-link {
  cursor: pointer;
}

.logo-container {
  width: 500px;
}

.logo {
  height: 60px;
  position: absolute;
  left: 5px;
  z-index: 2;
}

.ball-logo {
  height: 45px;;
  position: absolute;
  z-index: 1;
}

.navbar-links {
  height: 60px;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.icon {
  height: 40px;
  width: 40px;
}

.white-mask {
  background-color: #f0f0f0;
  // opacity: 0.5;
}

.green-mask {
  background-color: #9AAC77;
}

#left-mask {
  height: 240px;
  position: absolute;
  width: 1100px;
  z-index: 1;
  top: 371px;
  transform: rotate(11.4deg);
  left: -35px;
  // animation: fade 1.5s;
}

#right-mask {
  height: 150px;
  position: absolute;
  width: 460px;
  z-index: 1;
  top: 100px;
  transform: rotate(-67.5deg) scaleY(1.25) scaleX(1.5);
  left: 952px;
  top: 260px;
  // animation: fade 1.5s;
  // box-shadow: 10px 0px 10px 10px rgba(0,0,0,0.2);
}

.welcome-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#333;
  background: -webkit-gradient(radial, center center, 120, center center, 900, from(#33495E), to(#2E2329));
  background:-moz-radial-gradient(circle, #33495E, #2E2329);
  height: 100px;
  position: relative;
  top: -30px;
  z-index: 3;
}

.welcome-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
  margin: 15px;
}

.keynotes-container {
  background: #f0f0f0;
  height: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 5;

  li {
    // color: white;
    display: none;
    height: 150px;
    align-items: center;
    font-family: 'Lato';
    margin: 20px 0;
    img {
      width: 140px;
      margin: 30px 20px;
    }
  }
  li:first-child {
    display: flex;
  }
}

.keynotes {
  display: flex;
  flex-direction: column;
}

.court-image-container {
  background: #f0f0f0;
  background-image: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.51),
    rgba(255, 255, 255, 0.17)),
    url("court.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vh;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e9f0;
  height: 450px;
  width: 100%;
  h2 {
    font-family: 'Lato';
  }
  h3 {
    font-family: 'Lato';
  }
}

.graph {
  opacity: 0.9;
  transform: scale(0.9);
  transition: opacity 0.2s, transform 0.2s;

  &:hover {
  transform: scale(1);
  opacity: 1;
  }
}
.more-features {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  font-family: 'Lato';
  margin-bottom: 40px;
  img {
    height: 200px;
    margin-right: 20px;
  }
}

.footer {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px;
  align-items: center;
  background:#333;
  background: -webkit-gradient(radial, center center, 120, center center, 900, from(#33495E), to(#2E2329));
  background:-moz-radial-gradient(circle, #33495E, #2E2329);
  height: 200px;
  position: relative;
  top: -30px;
  z-index: 3;
}

.footer-logo {
  height: 40px;
  position: relative;
  left: -15px;
  z-index: 2;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  a {
    color: white;
    &:hover {
      color: #acabab;
      text-decoration: none;
    }
  }
}

.footer-icons {
  a {
    font-size: 25px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    &:hover {
      color: #acabab;
    }
  }
}

.helper-notice {
  margin: 10px;
  text-align: center;
}

.email-header {
  background:#333;
  background: -webkit-gradient(radial, center center, 120, center center, 900, from(#33495E), to(#2E2329));
  background:-moz-radial-gradient(circle, #33495E, #2E2329);
  width: 100%;
  height: 80px;
}

.email-logo {
  height: 100%;
}

#cancel-button {
  &:hover {
    background-color: #F0F0F0;
  }
  &:active {
    background-color: #d5d5d5;
  }
}
