$black: #161616;
$grey: #747474;
$mid-grey: #d5d5d5;
$light-grey: #F0F0F0;
$red: #d43316;
$light-green: #CDF6B2;
$lime-green: #3ad62b;
$green: #35bf28;
$dark-green: #30ab25;
$light-blue: #f0f1ff;
$light-blue: #f3f6ff;
$disabled: #949494;
